* {
  margin: 0;
}

html {
  background: url("../media/sky-wallpaper.jpg") no-repeat fixed center;
  background-size: cover;
}

body {
  text-align: center;
}

h1 {
  font-family: "Lora", serif;
  font-size: 8vw;
  color: rgb(240, 240, 132);
  margin-top: 50px;
}

input {
  width: 50%;
  height: 3vw;
  font-size: 2.5vw;
  color: #87cefa;
  text-align: center;
}

button {
  padding: 0.75vw;
  margin-top: 20px;
  background-color: #87cefa;
  color: white;
  border: 1px solid midnightblue;
  cursor: pointer;
  border-radius: 0px;
}

.invalid {
  border: 2px solid red;
}
