* {
  margin: 0;
}

html {
  background: url("../media/hot-air-balloons.jpg") no-repeat fixed center;
  background-size: cover;
}

body {
  text-align: center;
}

h1 {
  font-family: "Lora", serif;
  font-size: 50px;
  color: deepskyblue;
  margin: 50px;
}

.images-width {
  max-height: 250px;
  margin: 10px;
  border: 2px solid deepskyblue;
}

@media only screen and (max-width: 750px) {
  .images-width {
    max-height: 150px;
  }
}
